@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#chat{
    border:1px lightgray;
    border-radius:5px;
    width: 70%;
    /* height: 80%; */
    margin-top: 50px;
    margin-left: 28%;
    margin-right: 50%;
    background-color:white;
}
.title{
    background:#007bff;
    color:white;
    font-size:20px;
    font-weight:500;
    line-height:70px;
    border-radius:5px;
    height:70px;
}
.form{
    padding:20px 15px;
    overflow-y:auto;
    height:67%;
}
.bot-inbox{
    display:flex;
    align-items:baseline;
}
.user-inbox{
    justify-content:flex-end;
    margin: 13px 0;
    display:flex;
}
.bot-pic{
    height:40px;
    width:40px;
    color:white;
    padding-top:10px;
    text-align:center;
    background:#007bff;
    line-height:40px;
    border-radius:50%;
}
.msg{
    max-width:53%;
    margin-left:5px;
}
.bot-inbox .msg p{
    color:white;
    padding: 5px;
    border-radius:5px;
    background:#007bff;
    word-break:break-all;
}
.user-inbox .msg  p{
    background:#dedede;
    color:black;
    border-radius:5px;
    padding: 5px;
}
.text-area{
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #dedede;
    border-top: 1px solid #d9d9d9;
    border-radius: 0 0 5px 5px;
}
.input-data{
    height:40px;
    width:60vw;
    position:relative;
}
.input-data input{
    height:100%;
    width:100%;
    outline:none;
    border:1px transparent;
    border-radius:5px;
    padding:0 100px 0 5px;
}
.input-data button{
    position:absolute;
    right:5px;
    top:10px;
    width:60px;
    border: 1px solid #007bff;
    border-radius:5px;
    background:#007bff;
    color:white;
}
